# POSTGRES settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=superpassword
POSTGRES_DB=postgres

# DATABASE settings
DATABASE_DRIVER=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=student
DATABASE_PASSWORD=student
DATABASE_NAME=film-react-nest

# Github account
OWNER=github.account

VITE_API_URL=/api/afisha
VITE_CDN_URL=/content/afisha


# LOGGER settings
# type dev / json / tskv
LOGGER_TYPE=json

# SERVER settings
PORT=3000

#PGADMIN settings
PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=123456