# DATABASE settings
DATABASE_DRIVER="postgres"
DATABASE_HOST="postgres"
DATABASE_PORT="5432"
DATABASE_USERNAME="student"
DATABASE_PASSWORD="student"
DATABASE_NAME="film-react-nest"

# LOGGER settings
# type dev / json / tskv
LOGGER_TYPE="json"

# SERVER settings
PORT="3000"

#PGADMIN settings
PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=123456

# Domain (для локального тестирования используем localhost)
DOMAIN=localhost
